set clipboard+=unnamed
set idearefactormode=keep
set relativenumber
set number
set incsearch
set hlsearch
set ignorecase
set smartcase

" https://github.com/JetBrains/ideavim/blob/master/doc/emulated-plugins.md

" https://youtrack.jetbrains.com/issue/VIM-1970 
set set highlightedyank

" https://youtrack.jetbrains.com/issue/VIM-959
set ideamarks

" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin

" https://youtrack.jetbrains.com/issue/VIM-1521
set commentary

" dia daa cia caa
set argtextobj

" die dae cie cae
set textobj-entire

" Space above/beside cursor from screen edges
set scrolloff=10
set sidescrolloff=10

" https://youtrack.jetbrains.com/issue/VIM-1042
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
map <Del> :NERDTreeFocus<CR>

" https://github.com/JetBrains/ideavim/wiki/Select-mode
" set selectmode-=template

"  Mouseless Driven Development by Hadi Hariri https://www.youtube.com/watch?v=UH6YVv9js3s 
" https://github.com/JetBrains/ideavim
" https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
" https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_ReferenceCard.pdf
set surround
set easymotion

nnoremap <SPACE> <Nop>
let mapleader = " "

" map <Leader>r <Action>(ChooseRunConfiguration)
" map <Leader>r <Action>(Gradle.ExecuteTask)
map <Leader>m <Action>(MoveEditorToOppositeTabGroup)
map <Leader>/ <Action>(ShowErrorDescription)
map <Leader><BS> <Action>(Refactorings.QuickListPopupAction)
map <Leader><CR> <Action>(RunAnything)
map <Leader>S <Action>(SplitVertically)
map <Leader>U <Action>(Unsplit)
map <Leader>c <Action>(CompileProject)
map <Leader>f <Action>(GotoFile)
map <Leader>g <Action>(Generate)
map <Leader>h <Action>(SplitHorizontally)
map <Leader>j <Action>(GotoClass)
map <Leader>n <Action>(ShowNavBar)
"map <Leader>n <Action>(NavbarPopupMenu)
map <Leader>r <Action>(RecentFiles)
map <Leader>s <Action>(FileStructurePopup)
map <Leader>u <Action>(FindUsages)
map <Leader>w <Action>(JumpToLastWindow)
map <Leader>y <Action>(ReformatCode)
map <Leader>z <Action>(ToggleDistractionFreeMode)
map <leader>o <Action>(OptimizeImports)
"nnoremap <c-\> <Action>(SplitVertically)
"nnoremap <c--> <Action>(SplitHorizontally)
"nnoremap <c-=> <Action>(Unsplit)
nnoremap <c-m> <Action>(MoveEditorToOppositeTabGroup)
map <Enter> <Action>(ActivateTerminalToolWindow)

map <C-e> <Action>(GotoNextError)
map <S-C-e> <Action>(GotoPreviousError)
"map <C-h> <Action>(TypeHierarchy)
map <C-k> <Action>(EditorSelectWord)

"map <C-j> :m +1<CR>
"map <C-k> :m -2<CR>
map <M-j> <Action>(MoveStatementDown)
map <M-k> <Action>(MoveStatementUp)
"inoremap <C-j> <Esc>:m +1<CR>gi
"inoremap <C-k> <Esc>:m -2<CR>gi

"sethandler <c-j> a:vim
"sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
"nnoremap <c-j> <c-w>j
"nnoremap <c-k> <c-w>k


" The default C-o and C-i behaviours have certain inconsistencies with
" Vim which I can't quite pinpoint.
" I'm using the default IntelliJ behaviours instead.
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map <S-C-o> <Action>(JumpToLastChange)
map <S-C-i> <Action>(JumpToNextChange)
map g; <Action>(JumpToLastChange)
map g, <Action>(JumpToNextChange)
